@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


/*
---------------------------------------------
global styles
---------------------------------------------
*/
html,
body {
  background: #eee;
  font-family: 'Poppins', sans-serif;
}

/*
---------------------------------------------
header
---------------------------------------------
*/
.background-header {
  background-color: #EAE7B1 !important;
  height: 100px!important;
  position: relative!important;
  text-decoration: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
}

.background-header .main-nav .nav li a {
  color: #13101e;
}

.background-header .main-nav .nav li:hover a {
  color: #EAE7B1;
}

.background-header .nav li a.active {
  position: relative;
  color: #3C6255;
}

.header-area {
  background-color: #E1D7C6;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}


.header-area .main-nav .logo h1 {

    font-weight: bold;
    color: #eeeeee;
}
.header-area .main-nav .logo h1:hover {
    text-decoration: none;
    font-weight: bold;
    color: #eeeeee;
}

.background-header .main-nav .nav {
  margin-top: 20px !important;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}


.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  text-decoration: none;
  color: #A6BB8D!important;
}


.header-area .nav {
  margin-top: 30px;
  position: relative;
}

  .header-area {
    background-color: #61876E;
     margin-bottom: 250px;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }

  .header-area .logo {
    margin-left: 30px;
  }

  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }

  .header-area .main-nav .nav li {
    width: 100%;
    background: #eee;
    border-bottom: 1px solid #e7e7e7;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    color: #191a20 !important;
  }
  .header-area .main-nav .nav li a:hover {
    text-decoration: none;
    background: #eee !important;
    color: #61876E!important;
  }

  .books {
    margin-bottom: 50px;

  }
.table_books {
   padding: 2%;
   height: 700px;
   overflow-y: scroll;
}
